# OS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/

# dbt / DuckDB
*.duckdb
*.duckdb.wal
target/
dbt_packages/
logs/

# Data
data/
*.parquet
05-batch-processing/*.csv
05-batch-processing/*.csv.gz
05-batch-processing/zones/
05-batch-processing/fhvhv/

# Env / secrets
.env
